<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tk.ewentsai.model.dao.BookDao">

    <resultMap id="BaseResultMap" type="tk.ewentsai.model.pojo.Book">
        <result column="id" property="id"/>
        <result column="bookname" property="bookname"/>
        <result column="author" property="author"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="intro" property="intro"/>
        <result column="price" property="price"/>
        <result column="rate" property="rate"/>
        <result column="aboutAuthor" property="aboutAuthor"/>
        <result column="stock" property="stock"/>
        <result column="sales" property="sales"/>
    </resultMap>
    
    <parameterMap id="BaseParameterMap" type="tk.ewentsai.model.pojo.Book">
        <parameter property="id" javaType="int"/>
        <parameter property="bookname" javaType="String"/>
        <parameter property="author" javaType="String"/>
        <parameter property="releaseTime" javaType="Date"/>
        <parameter property="intro" javaType="String"/>
        <parameter property="price" javaType="Bigdecimal"/>
        <parameter property="rate" javaType="float"/>
        <parameter property="aboutAuthor" javaType="String"/>
        <parameter property="stock" javaType="int"/>
        <parameter property="sales" javaType="int"/>
    </parameterMap>

    <sql id="Base_Column_list">
        id,bookname,author,releaseTime,intro,price,rate,aboutAuthor,stock,sales
    </sql>

    <select id="findAllBook" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM books
    </select>

    <select id="findBookByStock" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM books
        WHERE stock > 0
    </select>

    <select id="findBookByBookName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM books
        WHERE bookname
        LIKE CONCAT(CONCAT('%', #{bookname}), '%')
    </select>

    <select id="findBookById" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM books
        where id = #{id}
    </select>

    <select id="selectBookBySales" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM books
        ORDER BY sales
    </select>
    
    <update id="updateBookById" parameterMap="BaseParameterMap">
        UPDATE books
        SET bookname = #{bookname},
            author = #{author},
            releaseTime = #{releaseTime},
            intro = #{intro},
            price = #{price},
            rate = #{rate},
            aboutAuthor = #{aboutAuthor},
            stock = #{stock},
            sales = #{sales}
        WHERE id = #{id}
    </update>
</mapper>