<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.ewentsai.model.dao.CartDao">

    <resultMap id="BaseResultMap" type="tk.ewentsai.model.pojo.Cart">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="bookId" property="bookId"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <sql id="Base_Column_list">
        id,uid,bookId,amount
    </sql>

    <select id="findCartByUid" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM cart
        WHERE uid = #{uid}
    </select>

    <select id="findCartByBookIdAndUid" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM cart
        WHERE bookId = #{bookId} AND uid = #{uid}
    </select>

    <update id="updateAmountByBookIdAndUid" parameterType="int">
        UPDATE cart
        SET amount = #{amount}
        WHERE bookId = #{bookId} and uid = #{uid}
    </update>

    <insert id="addCart" parameterType="int">
        INSERT INTO
        cart (id,uid,bookId,amount)
        VALUES (default,#{uid},#{bookId},#{amount})
    </insert>

    <delete id="removeCartByBookIdAndUid" parameterType="int">
        DELETE FROM cart
        WHERE bookId = #{bookId} AND uid = #{uid}
    </delete>

    <delete id="removeAllByUid" parameterType="int">
        DELETE FROM cart
        WHERE uid = #{uid}
    </delete>
</mapper>