<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tk.ewentsai.dao.OrdersDao">

    <resultMap id="BaseResultMap" type="tk.ewentsai.pojo.Orders">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="number" property="number"/>
        <result column="amount" property="amount"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <parameterMap id="Orders" type="tk.ewentsai.pojo.Orders"/>

    <sql id="Base_Column_list">
        id,uid,number,amount,createTime
    </sql>

    <select id="returnAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM books
    </select>

    <select id="findOrdersByUid" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM orders
        WHERE uid = #{uid}
    </select>

    <select id="findOrdersByOrderId" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM orders
        WHERE id = #{orderId}
    </select>

    <select id="paginationOrders" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM orders
        limit #{id},10
    </select>

    <insert id="addOrder" parameterType="int">
        INSERT INTO
        orders (id,uid,number,amount,createTime)
        VALUES (default,#{uid},#{number},#{amount},now())
    </insert>

    <delete id="removeOrderById" parameterType="int">
        DELETE
        FROM orders
        WHERE id = #{id}
    </delete>
</mapper>