<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tk.ewentsai.model.dao.UserDao">

    <resultMap id="BaseResultMap" type="tk.ewentsai.model.pojo.User">
        <result column="uid" property="uid" />
        <result column="uname" property="uname" />
        <result column="pwd" property="pwd" />
        <result column="sex" property="sex"/>
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="imageAdress" property="imageAdress" />
        <result column="role" property="role" />
        <result column="state" property="state" />
    </resultMap>

    <parameterMap id="updateUser" type="tk.ewentsai.model.vo.updateUserVo">
        <parameter property="uname" javaType="String"/>
        <parameter property="pwd" javaType="String"/>
        <parameter property="sex" javaType="String"/>
        <parameter property="birthday" javaType="Date"/>
    </parameterMap>

    <sql id="Base_Column_list">
        uid,uname,pwd,sex,age,birthday,imageAdress,role,state
    </sql>

    <select id="findUserByNameAndPwd" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM users
        WHERE uname = #{uname}
        AND pwd = #{pwd}
    </select>

    <select id="findUserByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM users
        WHERE uname = #{uname}
    </select>


    <select id="findUserByUid" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM users
        WHERE uid = #{uid}
    </select>

    <insert id="addUser" parameterType="String">
        INSERT INTO
        users (uid,uname,pwd,age,sex,birthday,imageAdress,role,state)
        VALUES (default,#{uname},#{pwd},0,1,now(),'images/0.jpg','user','1')
    </insert>
    
    <update id="updateUser" parameterMap="updateUser">
        UPDATE users
        SET sex = #{sex},pwd = #{pwd},birthday = #{birthday}
        WHERE uname = #{uname}
    </update>
</mapper>